/*klein beetje css om de html mooier te maken*/
* {
  font-family: monospace;
}
body {
  background: white;
  padding: 1rem;
}
h1 {
  font-weight: 900;
  text-align: center;
  padding: 2vh 0vw;
}
div {
  background-color: #fff;
  padding: 2vh 2vw;
}
div.winnaar {
  background: lightgray;
}
@media (min-width: 750px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    grid-column: 1/3;
  }
}

@media (min-width: 1350px) {
  body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  h1 {
    grid-column: 1/6;
  }
}
